/* Use Tailwind for CSS */
/* Look into responsive design */

#search-text {
  width: 25vw;
  max-width: 500px;
}

.tab-panel {
  display: flex;
  height: 50px;
  background: transparent;
}

.tab-panel a {
  margin-right: 16px;
}

/* #youtube-results, #vimeo-results{
  display: flex;
  margin: 5px;
  padding: 5px;
} */

/* .video-block {
  display: flex;
  align-items: center;
  padding: 5px;
  flex-direction: column;
} */

.img-size {
  width: 500px;
  height: calc(width * 1.78);
  pointer-events: none;
}

h2 {
  pointer-events: none;
}