#body-wrapper {
  width: 100vw;
}

#search-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#search-text {
  width: 50vw;
  max-width: 500px;
}

.columns {
  margin-right: 0px;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
}

.tab-panel {
  display: flex;
  height: 50px;
  background: transparent;
}

.tab-panel a {
  margin-right: 16px;
}

.disabled-link {
  pointer-events: none;
}

.navbar-link img {
  border-radius: 50%;
  margin-right: 8px;
}

.div-parent {
  width: 95%;
  padding: 10px;
}

.div-parent p {
  text-align: center;
}

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  scroll-snap-align: center;
}

.shadow-text {
  text-decoration: solid;
  text-shadow: 4px 2px 0 #000,
    2px 1px 0 #000,
    3px -1px 0 #000;
  color: #ffffff;
}

section#landing {
  background: url(../Images/Hero-BG.png) no-repeat center center/cover;
}

.loader-wrapper {
  position: absolute;
  top: 10%;
  left: 41.5%;
  height: 80%;
  width: 80%;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.loader {
  height: 200px;
  width: 200px;
  animation: spinAround 5s infinite linear;
  border: 0px;
}

.is-active {
  opacity: 1;
  z-index: 1;
}

#embed-container {
  margin-bottom: 25px;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- For Mobile Displays (PORTRAIT) ----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) and (orientation: portrait) {

  .navbar-item {
    padding-right: 0px;
  }

  #btn-show-signup-modal {
    margin-right: 0px;
  }

  #recently-viewed-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .is-flex {
    flex-wrap: wrap
  }

  .tab-panel {
    flex-direction: column;
    align-items: center;
  }

  .media {
    flex-wrap: wrap;
  }

}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- For Mobile Displays (LANDSCAPE) ---------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 989px) and (orientation: landscape) {
  #landing {
    margin-top: 25px;
  }

  .is-flex {
    flex-wrap: wrap
  }

  .tab-panel {
    justify-content: center;
  }

  iframe {
    width: 50vw;
    height: calc(50vw/1.78);
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- For Tablet Sized Displays (PORTRAIT) ---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 601px) and (max-width: 1499px) and (orientation: portrait) {
  .is-flex {
    flex-wrap: wrap
  }

  .tab-panel {
    justify-content: center;
  }

  iframe {
    width: 80vw;
    height: calc(80vw/1.78);
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------- For Tablet Sized Displays (Landscape) ---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 990px) and (max-width: 1499px) and (orientation: landscape) {
  .is-flex {
    flex-wrap: wrap
  }

  .tab-panel {
    justify-content: center;
  }

  iframe {
    width: 65vw;
    height: calc(65vw/1.78);
  }
}


/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------- For Laptop / Desktop Displays (Landscape) -----------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1500px) {
  iframe {
    width: 80vw;
    height: calc(80vw/1.78);
  }
}